<!--<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

</body>
</html>-->

<!-- partials/state1.html -->
<!--<h1>State 1</h1>-->
<!--<hr />
    <a ui-sref="state1.list">Show List</a>
    <div ui-view></div>-->

<!--<div>
    <div style="height: 400px">
        <h2>Partial view-1</h2>
       <!-- <p>The partial view of the content goes here...-->
    <!--</div>-->
    <!--<div ui-sref="page2"><a href="">Page 2</a></div>-->
<!--</div>-->

<div>
    <h2>Department Details</h2>
    Department ID : <input type="text" ng-model ="DeptID" name="DeptmentId"><br>
    Department Name : <input type="text" ng-model ="DeptName" name="DepatmentName"><br>    
</div>